<% content_for :navbar do %>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'About', about_sessions_path, method: "get", class:"btn btn-outline-light", disabled: true %>
  </li>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'Get Involved', involved_sessions_path, method: "get", class:"btn btn-outline-light" %>
  </li>
  <li class="nav-item mx-2 mt-1">
    <%= button_to 'Login', new_session_path, method: "get", class:"btn btn-outline-light" %>
  </li>
<% end %>

<body>
  <main>
    <section class="p-4 text-center container centered-card">
      <div class="row p-lg-5 bg-dark rounded">
        <h1 class="fw-light">About Ride2Health</h1>
        <p class="lead">
          Ride2Health was designed to provide a viable, economical and sustainable solution to non-emergency medical transportation services for low-income individuals and families.  The program will provide an on-demand or pre-scheduled rideshare experience with the use of volunteer drivers. Individuals will need to be patients of one of our partner healthcare organizations to participate in this program. Please contact Peggi Goss at pgoss@uwbv.org for more information.
        </p>
      </div>
    </section>
  </main>
</body>
