<body>
  <section class="p-4 text-center container centered-card">
    <div class="row p-lg-5 bg-dark rounded">
      <h1>Ride2Health Login</h1>
      <p>
        Welcome! Please log in to get started.
      </p>
      <%= form_with url: "/sessions", local: true do |form| %>
      <div class="col">
        <div class="row-md-offset-5 py-1">
          <%= text_field_tag :email, nil, placeholder: 'Email' %>
        </div>
        <div class="row-md-offset-5 py-1">
          <%= password_field_tag :password, nil, placeholder: 'Password' %>
        </div>
        <div class="row-md-offset-5 py-1">
          <%= form.submit "Login" ,class:"btn btn-outline-light"%>
        </div>
      </div>
    <% end %>
  </div>
</section>
</body>