<body>
  <main>
    <section class="p-4 text-center container centered-card">
      <div class="row p-lg-5 bg-dark rounded">
        <h1 class="fw-light">Thanks for Signing Up</h1>
        <p class="lead">
          Your account has not yet been approved by an administrator. If you expected your account to be active, you can email us as ride2health@uwbv.org.
        </p>
      </div>
    </section>
  </main>
</body>