<br><br>
<style>
    h3{
        font-family: 'Lato', sans-serif;
        font-weight: 500;
    }
</style>
<div class="text-center" >
    <h3>New Admin</h3>
</div>

<br>

<%= render 'form', admin: @admin %>


<div class="text-center"><%= link_to 'Back', admins_path %></div>
