<br><br>
<div class="text-center" >
  <h3>New Admin</h3>
</div>
<br>
<%= render 'form', admin: @admin %>
<p style='padding-left: 20px;'><%= link_to 'Back', root_url, class: "btn btn-secondary back-btn" %></p>
