<head>
	<style>
		html, body{
		  height: 100%;
		  width: 100%;
		}
		body{
			 overflow-x: hidden;
		}
	</style>
</head>
<div class='bg signup-bg'>
  <div class="center signup-page">
    <h3>New Patient</h3>
  </div>
  <br>
  <%= render 'form', patient: @patient %>
  <%= link_to 'Back', root_url, class: "btn btn-secondary big-btn" %>
</div>
