<br><br>
<div class="text-center" >
  <h3>New Driver</h3>
</div>
<br>
<%= render 'form', driver: @driver %>
<p style='padding-left: 20px;'><%= link_to 'Back', root_url, class: "btn btn-secondary back-btn" %></p>
