<body>
  <main>
    <section class="p-4 text-center container centered-card">
      <div class="row p-lg-5 bg-dark rounded">
        <h1 class="fw-light">Thanks for Signing Up</h1>
        <p class="lead">
          You're almost there! Before your account is enabled, you must finish your Ride2Health Training. Reload this page or sign in again once you've finished your training to navigate to your home page.
        </p>
      </div>
    </section>
  </main>
</body>