/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_self
 *= require_tree
 *= require appointments.scss
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&family=Source+Sans+Pro:wght@400;600&display=swap");
/* GENERAL CSS */
html, body{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px !important;
}
body {
  background-color: #fef3f2 !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
label{
  font-size: 17px;
}
.bg{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.signup-bg{
  background-image: url(signin.jpg);
}
.signup-page{
  padding-top: 10vh;
}
p.flash-notice{
  position: fixed;
  bottom: 0;
  right: 50%;
  margin: auto;
  text-align: center;
  color: red;
  background-color: white;
  border-color: #003354;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
}
.center{
  margin: 0 auto;
  text-align: center;
}
.row{
  padding: 4px;
}

/* HEADER AND PARAGRAPH STYLES */
h1,h2,h3,h4,h5{
  font-family: 'Lato', sans-serif;
}
h1,h3,h5{
  color: #003454;
}
h2,h4{
  color: #f2f2f3;
}
h3{
  font-size: 26px;
  font-weight: 500;
  font-style: italic;
}
h4{
  font-style: italic;
}
p{
  font-size: 20px !important;
}
#header{
  font-family: 'Lato', sans-serif;
  background-color: #003354;
  color:white;
  padding-bottom: 15px;
}


/* TABLE STYLES */
table{
  padding-left: 20px;
  width: 100%;
  background-color: #e3f3f8;
}
table,td{
  padding: 5px;
  border: 1px solid #003354;
}
th{
  color: white;
  background-color: #003354;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  border-right: 1px solid white;
}
td{
  font-size: 18px !important;
}
tr:nth-child(even){
  background-color: #cee1e8;
}

/* bootstrap is dumb and has to live here above the buttons */
@import "bootstrap";

/* PRIMARY BUTTONS */
.btn-primary{
  color: white;
  background-color: #003354;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  padding: 3px 5px;
  margin: 3px;
  text-align: center;
}
.btn-primary:visited{
  color: white;
}
.btn-primary:hover{
  background-color: #2d5c76;
  color: #f2f2f3;
}

/* SECONDARY BUTTON */
.btn-secondary{
  color: #003354;
  background-color: white;
  font-size: 18px;
  font-weight: 400;
  padding: 3px 5px;
  margin: 3px;
  text-align: center;
}
.btn-secondary:hover{
  background-color: #e7f5ff;
  color: #33adff;
}

/* BUTTON SIZES */
.btn-sm{
  color: #003354;
  background-color: white;
  font-size: 18px;
  padding: 3px;
  margin: 2px;
}
.big-btn{
  margin: auto;
  display: table;
  width: 200px;
  line-height: 60px;
  font-size: 21px;
}
.back-btn{
  width: 130px;
  line-height: 50px;
  font-size: 20px;
}
