body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fceae8;
  margin: 0px;
  font-size: 18px;
}
label{
  font-size: 17px;
}

/* header styles */
h1,h2,h3,h4,h5{
  font-family: 'Lato', sans-serif;
}
h1{
  color: #003454;
  font-style: italic;
}
h2{
  color: #f2f2f3;
}
h3{
  color: #003454;
  font-size: 23px;
  font-weight: 500;
}
h4{
  color: #f2f2f3;
  font-weight: 400;
  font-style: italic;
}
h5{
  color: #003454;
  font-size: 16px;
  font-style: italic;
}
p{
  font-size: 18px;
}
table{
  padding-left: 20px;
  width: 100%;
}
table,td,th{
  border: 1px solid #a6a6a6;
}
th{
  color: white;
  background-color: #003354;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}
td{
  font-size: 18px;
}
text_area{
  height: auto;
}
.btn-primary{
  color: white;
  background-color: #003354;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  padding: 3px 5px;
  margin: 3px;
  text-align: center;
}
.btn-primary:visited{
  color: white;
}
.btn-primary:hover{
  background-color: #2d5c76;
  color: #f2f2f3;
}

.btn-secondary{
  color: #003354;
  background-color: #f9d58c;
  font-size: 18px;
  font-weight: 400;
  padding: 3px 5px;
  margin: 3px;
  text-align: center;
}
.btn-secondary:hover{
  background-color: #fcedcf;
  color: #33adff;
}
.btn-secondary.btn-sm{
  color: #003354;
  background-color: #e5e5e6;
  font-size: 18px;
  padding: 3px;
  margin: 2px;
}
.btn-secondary:hover.btn-sm{
  background-color: #f2f2f3;
}
.right {
  position: absolute;
  right: 7px;
}
.row{
  padding: 4px;
}
/* Schedule Page Stuff DO NOT MOVE UP */
.schedule{
  margin: auto;
  text-align: center;
  width: 60%;
  height: 150px;
  font-size: 18px;
}
.back-btn{
  width: 130px;
  line-height: 50px;
  font-size: 20px;
}
.big-btn{
  margin: auto;
  display: table;
  width: 200px;
  line-height: 60px;
  font-size: 20px;
}
#header{
  font-family: 'Lato', sans-serif;
  background-color: #003354;
  color:white;
  padding-bottom: 15px;
}
