.dr_rides{
  display: inline-block;
  text-align: center;
  width: 49.7%;
}
.schedule{
  margin: auto;
  text-align: center;
  width: 60%;
  height: 150px;
  font-size: 18px;
}
.f-left{
  float: left;
}
.f-right{
  float: right;
}
