.comment-page-1{
  text-align: center;
}
.comment-table{
  width: 60%;
  margin: auto;
}
.comment-row{
  padding-top: 2%;
  padding-bottom: 2%;
}
#view-comments{
  padding-top: 2%;
  text-align: center;
}
#patient-presets{
  text-align: center;
  padding-top: 2%;
}
#preset-table{
  width: 70%;
  margin: auto;
}
