.comment-page-1{
  text-align: center;
}
.comment-table{
  width: 60%;
  margin: auto;
}
.comment-row{
  padding-top: 2%;
  padding-bottom: 2%;
}
#view-comments{
  padding-top: 2%;
  text-align: center;
}
