<h1>Update Date</h1>
<%= form_with(model: @appointment, local: true) do |form| %>
    <h3><%= form.label "New Date and Time:" %></h3>
    <%= form.datetime_select :dt, {ampm: true, minute_step: 15} %>
    <br><br>
    <%= form.submit "Submit" %>
<% end %>