<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @appointment.datetime %>
</p>

<p>
  <strong>Pickup Location:</strong>
  <%#= @appointment.pickup %>
</p>
<p>
  <strong>Drop off Location:</strong>
  <%#= @appointment.destination %>
</p>

<p>
  <strong>Status:</strong>
  <%= @appointment.status %>
</p>

<p>
  <strong>Map:</strong>
  
</p>

<%= link_to 'Back', :back %>
